/* global rules */
:root {
    --main-color:#0f8aec;
    --secondary-color:#10cab7;
    /* --section-bg-color: #d0eaff; */
    --section-bg-color: #b5fff8;

    --section-top-padding:100px;
    --section-bottom-padding:100px;
    --box-inner-padding: 20px;
    --boxes-gap:30px;

    --main-transition-duration:.3s;
    --second-transition-duration:.5s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::selection {
    color: white;
    background-color: var(--main-color);
}

body {
    font-family: 'Nunito', sans-serif;
    /* background-color: var(--section-bg-color); */
    background-color: #fff;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* background-color: var(--section-bg-color); */
    background-color: #fff;
}
/* Small */
@media (min-width:768px){
    .container{
        width: 750px;        
    }
}
/* Medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px){
    .container{
        width: 1170px;        
    }
}

.container .form {
    position: relative;
    /* background-color: #fff; */
    /* background-color: var(--section-bg-color); */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}
@media (max-width:768px){
    .container .form{
        width: 100%;        
    }
}
.container .form h3{
    font-size: 30px;
}
.container .form form{
    /* background-color: red; */
    width: calc(100% - 20px);
    /*height: calc(100% - 20px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .form h3{
    color: var(--main-color);
}
.container .form input{
    display: block;
    height: 40px;
    width: 50%;
    left: 0;
    margin: 20px;
    padding-left: 20px;
    border-radius: 100px;
    /* border: 1px solid ; */
    border: unset;
    box-shadow: 0 0px 15px rgb(0 0 0 / 15%);
    transition: var(--main-transition-duration);

}
.container .form input:focus{
    border: unset;
    outline: unset;
    box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
}
.container .form button{
    background-color: #fff;
    color: var(--main-color);
    font-size: 20px;
    height: 40px;
    border-radius: 100px;
    box-shadow: 0 0px 15px rgb(0 0 0 / 15%);
    padding: 0 20px;
    cursor: pointer;
    border: unset;
    margin: 20px;
}
.container .form button:focus{
    outline: 0.5px solid var(--main-color);
    box-shadow: 0 0px 15px rgb(0 0 0 / 25%);
}
/*
.footer{
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
*/
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 5px 0;
    /*color: #232323;*/
    color: #fff;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--main-color);
    box-shadow: 0 0px 15px rgb(0 0 0 / 15%);
    width: 100%;
}
.footer p{
    font-size: 12px;
    letter-spacing: 2px;
}
.footer p.version{
}
.footer p a{
    text-decoration: none;
    background-color: #fff;
    color: var(--main-color);
    padding: 2px 5px;
    border-radius: 100px;
}